.page {
  position: relative;

  width: 390px;
  min-height: 844px;
  margin: 0 auto;

  background: white;

  overflow: hidden;

  font-size: 32px;
  font-weight: 700;
}

.background-glow {
  position: absolute;

  width: 500px;
  height: 500px;

  left: 50%;
  top: 42%;

  transform: translate(-50%, -50%);

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(107, 147, 255, 0.25) 0%,
    rgba(107, 147, 255, 0.18) 35%,
    rgba(107, 147, 255, 0.10) 60%,
    rgba(107, 147, 255, 0) 100%
  );

  filter: blur(60px);

  z-index: 0;

  pointer-events: none;
}

.select-center {
  position: relative;

  z-index: 2;

  width: 100%;
  min-height: 844px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 162px;
}

.main-fish {
  width: 140px;
  height: 140px;

  object-fit: contain;
}

.welcome-title {

  margin-top: -13px;

  font-family: "Pretendard";

  font-weight: 700;

  font-size: 32px;

  line-height: 32px;

  color: #000;

}

.welcome-description {
  width: 390px;

  margin-top: 32px;

  font-family: "Pretendard";
  font-weight: 500;

  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.01em;

  text-align: center;
  color: #1F1F1F;
}

.welcome-description span {
  color: #2D81F5;
}

.name-input-box {
  position: relative;

  width: 300px;
  height: 44px;

  margin-top: 13px;
}

.name-input {
  width: 100%;
  height: 100%;

  padding: 0 52px 0 16px;

  border: 1px solid rgba(116, 116, 116, 0.50);
  border-radius: 10px;

  outline: none;

  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;

  background:  #FFF;
}

.name-input::placeholder {
  color: #747474
}

.name-count {
  position: absolute;

  right: 14px;
  top: 50%;

  transform: translateY(-50%);

  font-family: "Pretendard";
  font-size: 13px;
  font-weight: 500;

  color: #747474
}

.next-button{
    margin-top:auto;
    margin-bottom:74px;

    width:246px;
    height:52px;

    border:none;
    border-radius:999px;

    background:#2D81F5;

    color:#FFF;

    font-family:"Pretendard";
    font-size:20px;
    font-weight:700;

    cursor:pointer;
}